@import url("fonts.css");

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, input[type="submit"], input[type="button"], input[type="file"] {
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  font-weight: 500;
  /* color: #202124;  */
}

body, p {
  /* font-family: 'Roboto', arial, sans-serif; */
  line-height: 1.35;
  color: #202124;
}

h1 {
  font-size: 3em; 
  margin: 0;
  color: #202124;
  font-weight: 700;
  /* padding: 0 1.5rem; */
}

h2 {
  font-size: 2em; 
  margin: 0;
}

h3 {
  font-size: 1.5em; 
  margin: 0;
}

header {
  background: #f9f9f9;
  /* display: flex; */
}

header .container {
  justify-content: center;
  align-items: center;
}

.container section h2 {
  margin-bottom: 2.5rem;
}

.container section .section-content div {
  margin-bottom: 1.5rem;
}

.container section .section-content > div {
  display: flex;
  flex-wrap: wrap;
}

.date-column {
  font-size: .8rem;
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  font-weight: 500;
  color: #666666;
  padding-top: .25rem;
  padding-right: .5rem;
}

.container section .section-content h3, 
.container section .section-content p, {
  margin-top: .5rem;
  line-height: 1.5;
  max-width: 100%;
}

.section.is-projects {
  position: relative;
}

.projects-slider-container {
  width: 100vw;
}

.project-card {
  height: 200px;
  width: 300px;
  background-image: linear-gradient(to bottom right, orange, hotpink);
  margin: .5rem 1rem 1rem .25rem;
  border-radius: 10px;
  padding: 10px;
  cursor: -webkit-grab;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #666666;
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  font-weight: 700;
}

.project-card a {
  background: linear-gradient(to bottom right, orange, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.self-image {
  background: url('/img/me.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: none;
}

#project-1 {
  background-image: url('/img/p1.gif');
}

#project-2 {
  background-image: url('/img/p2.gif');
}

#project-3 {
  background-image: url('/img/p3.gif');
}

#project-4 {
  background-image: url('/img/p4.png');
}


@media (max-width: 40em) {
  #more {
    width: 200px!important;
    height: 0;
    background: none;
    border: none;
    padding: 0;
  }
  
  #more a {
    color: black;
  }
}


.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-bottom: .5rem;
}

.carousel-controls img {
  cursor: pointer;
  padding: 10px;
  margin: -15px;
}

.footer {
  padding: 1.5rem;
  text-align: center;
}

.skills .section-content > div {
  margin-bottom: 1.5rem;
}


@media (min-width: 40em) {
  .container section .section-content h3 {
    min-width: 250px;
    margin-top: -.25rem;
  }

  .container section .section-content > div {
    flex-wrap: nowrap;
  }

  .date-column {
    min-width: 250px;
    max-width: 250px;
  }

  .project-card {
    font-size: 1.25rem;
    height: 250px;
  }

  .self-image {
    display: block;
  }

  #more a {
    color: #ffffff!important;
    background: none;
    -webkit-text-fill-color: white;
  }

}

@media (min-width: 60em) {
  .container section .section-content h3,
  .container section .section-content p {
    max-width: 60%;
  }

  .project-card {
    font-size: 1.75rem;
  }

}