@import url("fonts.css");

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, input[type="submit"], input[type="button"], input[type="file"] {
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  font-weight: 500;
  /* color: #202124;  */
}

body, p {
  /* font-family: 'Roboto', arial, sans-serif; */
  line-height: 1.35;
  color: #202124;
}

a {
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  color: #202124; 
  font-weight: 500;
}

h1 {
  font-size: 3em; 
  margin: 0;
  color: #202124;
  font-weight: 700;
  /* padding: 0 1.5rem; */
}

h2 {
  font-size: 2em; 
  margin: 0;
}

h3 {
  font-size: 1.5em; 
  margin: 0;
}

header {
  background: #f9f9f9;
  /* display: flex; */
}

.container section h2 {
  margin-bottom: 2.5rem;
}

.container section .section-content div {
  margin-bottom: 1.5rem;
}

.container section .section-content > div {
  display: flex;
  flex-wrap: wrap;
}

.date-column {
  font-size: .8rem;
  font-family: 'Product Sans', 'Roboto', arial,  sans-serif;
  font-weight: 500;
  color: #666666;
  padding-top: .25rem;
  padding-right: .5rem;
}

.container section .section-content h3, 
.container section .section-content p, {
  margin-top: .5rem;
  line-height: 1.5;
  max-width: 100%;
}

.section.is-projects {
  position: relative;
}

.slick-list {
  /* overflow: visible; */
}

.projects-slider-container {
  /* position: absolute;
  left: 0; */
  width: 100vw;
}

.project-card {
  height: 200px;
  width: 300px;
  background-image: linear-gradient(to bottom right, orange, hotpink);
  margin: .5rem 1rem 1rem 0rem;
  border-radius: 10px;
  padding: 10px;
  cursor: -webkit-grab;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-bottom: .5rem;
}

.carousel-controls a {
  position: absolute;
  right: 10px;
  background: linear-gradient(to bottom right, orange, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-controls img {
  cursor: pointer;
  padding: 10px;
  margin: -15px;
}

.footer {
  padding: 1.5rem;
}

.skills .section-content > div {
  margin-bottom: 1.5rem;
}

#project-1 {
  background: url('https://streamable.com/s/v9ep2/fzjoeq')
}

@media (min-width: 60em) {
  .container section .section-content h3,
  .container section .section-content p {
    max-width: 60%;
  }
}


@media (min-width: 40em) {
  .container section .section-content h3 {
    min-width: 250px;
    margin-top: -.25rem;
  }

  .container section .section-content > div {
    flex-wrap: nowrap;
  }

  .date-column {
    min-width: 250px;
    max-width: 250px;
  }
}