/*basic styling*/
$main-font: roboto;
$sub-font: roboto slab;

$my-boxshadow: 0 3px 3px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.10);


//colors 
//main
$accent-color: #1DE9B6;
$bg-color: #f9f9f9;
$p-color: #656565;

/*project pagina*/
$bva-color-1: #316bb2;
$bva-color-2: #ff822f;


$dtrh-color-1: #3a3a42;
$dtrh-color-2: #f8f7f5;
$dtrh-color-3: #9d7caa;

$fe-color-1: #ffcc00;
$fe-color-2: #fcbd14;

$vg-color-1: #34495e;
$vg-color-2: #e42826;

$pr-color-1: #f0db4f;
$pr-color-2: #323330;


/* FONTS */
span {
    font-family: $main-font;
    display: inline-block;
    font-size: 1em;
}

.intro-text {
    font-weight: 700;
    font-size: 8em;
}

#abouthome > .container {
    font-family: "roboto slab";
    color: $bg-color;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto slab";
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    font-size: 6.854em;
}

h2 {
    font-size: 4.236em;
}

h3 {
    font-size: 2.618em;
    margin-bottom: 1.215em;
}

h4 {
    font-size: 1.618;
}

p {
    font-family: $main-font;
    font-size: 1em;
    line-height: 1.45em;
    font-weight: 400;
}

b {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}